html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 10px;
  margin-left: 20px;
}

footer {
   margin-left: auto;
   margin-right: auto;
   margin-top: 12px;
   margin-bottom: 20px;
}

fileBody {
  flex: auto;
  margin: 10px;
  width: calc(100% - 50px);
  overflow: auto;
  padding: 10px;
}

.datoteka {
	margin: 0px;
	margin-bottom: 10px;
}

.border {
	border: 1px solid transparent;
	border-color: black;
	border-radius: 4px;
}

.shadows {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upload {
  cursor: pointer;
  width: 200px;
  background: white;
  height: 50px;
  font-size: 18px;
}

#upload:hover {
	cursor: pointer;
	text-decoration: underline;
}